/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
:root{
    --red:#E63946;
    --light:#F1FAEE;
    --aqua:#A8DADC;
    --lightblue:#457B9D;
    --darkblue:#1D3557;
    --black: #000000;
    --dark-green: #4c956c;
}

body {
    margin: 0;
    text-align: center;
}

img {
    width: 300px;
}

h1{
    display: block;
    border: 5px solid var(--black);
    color: var(--dark-green);
}

#activities-section {
  display: flex;
  gap: 2px; 
  justify-content: space-around;
}

.hover-image {
  
  max-width: 400px; /* Set a max width for the images */
  transition: transform 0.3s ease;
}

.hover-image:hover {
  transform: scale(1.7);
}

