/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
:root{
    --red:#E63946;
    --light:#F1FAEE;
    --aqua:#A8DADC;
    --lightblue:#457B9D;
    --darkblue:#1D3557;
    --black: #000000;
    --dark-green: #4c956c;
    --darkseagreen: #8fbc8f;
}

*{
    box-sizing: border-box;
}
html, body {
    background-color: var(--darkseagreen);
}

body {
    
    margin: 0;
    text-align: center;
}

img {
    width: 350px;
}

#hero-image {
    width: 100%;
}

#guide-image {
    width: 250px;
}

.image-header {
    font-size: 1.5em;
    color: var(--dark-green);
    text-shadow: 1px 1px 1px var(--darkblue);
}

h1{
    font-size: 50px;
    color: var(--dark-green);
    text-shadow: 3px 2px 2px var(--darkblue);
}

h2{
    text-shadow: 1px 1px 1px var(--darkblue);
    display: block;
    font-size: 2em;
    color: var(--dark-green);
}

h3{
    text-shadow: 1px 1px 1px var(--darkblue);
    display: block;
    font-size: 3.5em;
    color: var(--dark-green);
}

h4{
    /* color: var(--dark-green); */
    font-size: 1.6em;
    /* text-shadow: 1px 0px 0px var(--darkblue); */
}

p{
    /* color: var(--dark-green); */
    font-size: 1.5em;
    text-shadow: 0px 1px 1px var(--darkblue);
}

#activities-section {
  display: flex;
  gap: 2px; 
  justify-content: space-around;
}

.hover-image {
  
  max-width: 400px; /* Set a max width for the images */
  transition: transform 0.3s ease;
}

.hover-image:hover {
  transform: scale(1.7);
}

