/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
:root{
    --red:#E63946;
    --light:#F1FAEE;
    --aqua:#A8DADC;
    --lightblue:#457B9D;
    --darkblue:#1D3557;
}

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}